@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

:root {
  --text-color-span: #7e7e80;
  --text-color: #14151a;
}

body {
  width: 100%;
  height: 100vh;

  background: url(images/bg-pattern-top.svg) no-repeat bottom 40vh right 50vw,
    url(images/bg-pattern-bottom.svg) no-repeat top 35vh left 55vw,
    hsl(185, 75%, 39%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100%;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
}

.cover {
  width: 100%;
  min-height: 100%;
  border-radius: 20px 20px 0 0;
}

.image-bio {
  position: absolute;
  left: 35%;
  top: 90px;
  width: 100px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.image-bio img {
  width: 100%;
  border-radius: 50%;
}

.box {
  margin-top: -5px;
  padding: 10px 0;
}

.bio {
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.bio .age {
  margin-left: 10px;
  font-weight: 400;
  color: var(--text-color-span);
}

.location {
  margin: 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-span);
}

.stats {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.followers,
.likes,
.photos strong {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.followers p,
.likes p,
.photos p {
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color-span);
}
